#con{
    background-color: rgba(221, 221, 221, 0.911);
    padding: 20px;
    font-weight:bold;
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 10px;
    width:75%;
}
#tablediv{
    width:75%;
    margin-left: 100px;
    margin-top: 10px;
}
.container{
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}